.container {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

.container.draggingOver {
    background-color: lightblue;
}

.item {
    width: 50px;
    height: 50px;
    user-select: none;
    background-color: magenta;
}

.item.dragging {
    background-color: pink;
}