.list {
    padding: 5px;
    width: 300px;
    background-color: lightgrey;
}

.list.draggingOver {
    background-color: lightblue;
}

.item {
    width: 100%;
    user-select: none;
    padding: 10px;
    margin: 0;
    margin-bottom: 8px;
    background-color: magenta;
}

.item.dragging {
    background-color: pink;
}